@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
/* styles.css */

/* Target the scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
}

/* Track style */
::-webkit-scrollbar-track {
  background: transparent; /* Replace with desired color */
}

/* Handle style */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    rgb(26, 163, 232),
    rgba(9, 10, 10, 0.663)
  ); /* Replace with your desired gradient colors */
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    rgb(9, 152, 199),
    rgb(11, 0, 0)
  ); /* Replace with your desired gradient colors */
  width: 20px;
}

scrollbar-track {
  background-color: transparent;
}

/* Handle style */
/* Replace the background color with your desired gradient */
scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    rgb(15, 136, 176),
    rgba(34, 187, 187, 0.663)
  );
  border-radius: 5px;
}

/* Handle on hover */
scrollbar-thumb:hover {
  background: linear-gradient(to bottom, rgb(9, 152, 199), rgb(11, 0, 0));
  width: 20px;
}
